.timeline-section {
  &:before{
    content: ""; /*產生一個空的元素*/
    position: absolute; /*利用absolute定位*/
    left: 0;
    right: 0;
    height: 2px;
    background-color: $secondary;
  }
  .timeline-checkPointer{
    &:after{
      content: ""; /*產生一個空的元素*/
      position: absolute; /*利用absolute定位*/
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translate(-50%,-25%);
      background-color: $secondary;
    }
  }
  .timeline-pointer{
    &:after{
      content: ""; /*產生一個空的元素*/
      position: absolute; /*利用absolute定位*/
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translate(-50%,-25%);
      border: 1px solid $secondary;
      background-color: $white;
    }
  }
}

.checkWrap{
  margin-bottom: 123px;
  .checkImg {
    font-size: 44px;
  }
}